.about-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-section-aside {
    float: right;
    margin-left: 30px;
    width: 400px;
}
.about-section-img {
    width: 400px;
}
.about-section-img-title {
    color: black;
    font-family: 'Manrope';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}
.about-section-title {
    margin-bottom: 200px;
    color: black;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.about-section-item {
    padding: 60px 40px;
}
.about-section-item:not(:last-child) {
    border-bottom: 1px solid rgb(132, 191, 250);
}
.about-section-list-box {
    display: flex;
}
.about-section-list-img {
    width: 500px;
    max-height: 250px;
    margin-right: 60px;
}
.about-section-subtitle {
    margin-bottom: 15px;
    color: black;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.about-section-sublist-item {
    color: black;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.about-section-sublist-item:not(:last-child) {
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .about-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .about-section-aside {
        float: left;
        margin-left: 0;
        margin-right: 30px;
        width: 300px;
    }
    .about-section-img {
        width: 300px;
    }
    .about-section-img-title {
        margin-bottom: 60px;
        font-size: 12px;
    }
    .about-section-title {
        margin-bottom: 0;
        font-size: 18px;
    }
    .about-section-list-box {
        display: block;
    }
    .about-section-list-img {
        max-height: none;
        margin-right: 0;
        margin-bottom: 15px;
    }
}