.container {
    margin: 0 auto;
    padding: 15px;
    max-width: 1280px;

    @media screen and (max-width: 768px) {
       max-width: 680px;
    }
    @media screen and (max-width: 420px) {
        max-width: 360px;
    }
}