.home-section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

    @media screen and (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
    }
}
.hero-section-title-wrapper {
    width: 600px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        width: 300px;
    }
}
.hero-section-title {
    margin-bottom: 200px;

    text-align: center;
    color: white;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    @media screen and (max-width: 768px) {
        margin-bottom: 250px;
        font-size: 18px;
    }
}
.home-section-btn-incr {
    position: absolute;
    top: 350px;
    right: 60px;

    cursor: pointer;
    padding: 8px;
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border: transparent;
    border-radius: 50%;
}
.home-section-btn-decr {
    position: absolute;
    top: 350px;
    left: 60px;

    cursor: pointer;
    padding: 8px;
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border: transparent;
    border-radius: 50%;
}
.home-section-btn-consultation {
    display: block;
    width: 300px;
    padding: 25px;
    
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 30px;
    border: transparent;
    background-color: rgba(74, 161, 249, 0.8);
    font-weight: bolder;
    cursor: pointer;
    
    margin: 0 auto;
}
.hero-section {
    display: none;
    padding-top: 30px;
    margin-bottom: 30px;
    height: 500px;
    
    background-image:linear-gradient(
        to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), 
        url("../../img/operatingRoom.jpg");
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 768px) {
        height: 550px;
    }
}
.hero-section-second {
    display: none;
    padding-top: 30px;
    margin-bottom: 30px;
    height: 500px;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../../img/equipmentModern.jpg");
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 768px) {
        height: 550px;
        background-position: 65% 25%;
    }
}
.hero-section-third {
    display: none;
    padding-top: 30px;
    margin-bottom: 30px;
    height: 500px;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../../img/hospitalWard.jpg");
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 768px) {
        height: 550px;
    }
}
.active {
    display: block;
}
.home-section-list-title {
    margin-bottom: 15px;

    color: black;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.home-section-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.home-section-list-subtitle {
    color: black;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.home-section-sublist {
    list-style: inside;
}
