.home-section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.home-section-btn-incr {
    position: absolute;
    top: 400px;
    right: 60px;
}
.home-section-btn-decr {
    position: absolute;
    top: 400px;
    left: 60px;
}
.hero-section {
    height: 600px;
    background-image: url("../../img/operatingRoomSecond.jpg");
    background-size: cover;
}