.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    display: flex;
    align-items: center;
}
.header-logo-img {
    width: 40px;
}
.header-logo-title {
    margin-left: 15px;
    color: black;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.header-nav-list {
    display: flex;
}
.header-nav-link{
    color: black;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.header-nav-item:hover .header-nav-link,
.header-nav-item:focus .header-nav-link {
    color: rgb(207, 46, 46);
}
.header-nav-item:not(:last-child) {
    margin-right: 30px;
}
.header-contacts-link {
    color: black;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.header-contacts-item {
    display: flex;
}
.header-contacts-item:hover .header-contacts-link,
.header-contacts-item:focus .header-contacts-link {
    color: rgb(207, 46, 46);
}
.header-contacts-icon {
    margin-right: 5px;
    width: 15px;
}